.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 50px auto;
    width: clamp(0px, 80vw, 1300px); 
}

.file_heading{
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}

.archives_container{
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.file_link{
    text-decoration: none;
    color: black;
}

.file_img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1/1;
    background-color: rgb(31, 31, 32);
}

.file_img_container h1{
    color: white;
    text-align: center;
    margin: 0 5%;
}

.file_img_container img {
    width: 100%;
    transition: transform 0.5s;
}

.file_img_container img:hover {
    transform: scale(1.15);
}