:root{
    --view-bar-height: 45px;
}

.view_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--view-bar-height);
    border-bottom: 2px solid rgb(93, 93, 93);
}

.view_bar_button {
    font-family: 'Poppins';
    font-size: 1.4rem;
    border: none;
    padding: 7px 15px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.view_bar button:hover {
    background-color: rgb(214, 214, 214);
}

.view_bar_button_selected {
    color: #e7bc00;
}

.content {
    position: relative;
}

.merch_container {
    padding: 10px;
    height: calc(100vh - var(--view-bar-height));
    position: static;
    overflow-y: auto;
}

.shadow_item {
    transition: box-shadow 0.3s, opacity 0.1s;
    box-shadow: 0 0 0 transparent;
}

.shadow_item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.edit_button_container {
    display: flex;
    justify-content: center;
}

.button {
    width: 40%;
    padding: 10px 0px;
    margin-bottom: 1rem;
    background-color: #ffd900;
    color: rgb(45, 45, 45);
    border: 0px;
    border-radius: 15px; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e7bc00;
}

.update_order_button {
    position: fixed;
    width: 250px;
    bottom: 50px;
    right: 50px;
}