/*The Links needs to be a bit more packed than the other pages because it's more practical to see more links in one viewport*/

/*=============Link Classes=================*/

/* section header */
.link_section_heading{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 4.5rem;
    padding-top: 3vh;
    margin-bottom: 1rem;
}

/* sub-header */
.link_heading{
    font-weight: bold;
    text-align: center;
    font-size: 4.5vh;
    white-space: pre-line;
}

.links_container{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3vh;

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.link_anchor{
    text-decoration: none;
    color: black;
}

.link_paragraph{
    color: black;
    font-size: 1.5em;
    text-align: center;
    white-space: pre-line;
}

.link_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.link_img_container{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 6px;
}

.link_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
.link_img_container img:hover {
    transform: scale(1.4);
}
 */

.featured_link{
    grid-column: 1 /-1;
}

.featured_link .link_anchor{
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    gap: 30px;
}

.featured_link img{
    object-fit: contain;
}

.featured_link .link_img_container{
    width: 100%;
    height: 520px;
}

.featured_link .link_text_container {
    grid-column: 2;
    text-align: left;
}


@media screen and (max-width : 800px) /* Phone rules */
{
    .link_section_heading{
        font-size: 2rem;
    }
    .link_container{
        grid-template-columns: 1fr;
    }
    .link_heading{
        font-size: 1.4vh;
    }
    .link_paragraph{
        font-size: 1rem;
        
    }
    .links_spacing{
        padding-top: 3%;
    }
}

hr {
    border: none;
    border-top: 25px solid black;
    margin: 0 5%;
}

.links_container.two_col{
    grid-template-columns: repeat(2, 1fr);
}

.links_container.three_col{
    grid-template-columns: repeat(3, 1fr);
}