/*=============Archives Classes=================*/

.file_heading{
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}

.archives_container{
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.file_link{
    text-decoration: none;
    color: black;
}

.file_img_container{
    overflow: hidden;
}

.file_img_container img {
    width: 100%;
    transition: transform 0.5s;
    padding-left: 3%;
    padding-right: 3%;
}

.file_img_container img:hover {
    transform: scale(1.15);
}