.center-container {
  display: flex;
  justify-content: center;
}

.slider-container {
  max-width: 1200px;
  width: clamp(200px, 100%, 1200px);;
  margin-top: 40px;
  margin-bottom: 20px;
}

.slides {
  position: relative;    
}

.slick-prev, .slick-next {
  position: absolute;
  width: 70px;
  height: 100%;
  top: 50%;
}

.slick-prev {
  left: 5%;
}

.slick-next {
  right: 5%;
}

.slick-list {
  z-index: -1;
}

.slick-slider {
  z-index: 0;
}

.image-slide {
  height: clamp(200px, 70vw, 400px); 
}

.image-slide img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .slick-prev::before, .slick-next::before {
    font-size: 30px;
  }
}