:root {
    --navbar-height: 3.5rem;
    --text-color: white;
    --text-highlight-color: hsl(47, 88%, 62%);

    --sidebar-color: #333;
    --buttons-color: white;

    --text-font: "Poppins", sans-serif;
    --font-size: 1.3rem;
    --text-font-weight: 200;
}

.sidebar {
    position: relative;
    width: 250px;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    transition: width 0.4s cubic-bezier(.83,.18,.34,.83);
}

.navbar_title {
    position: relative;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
}

.logo {
    width: 40px;
    margin: 16px 10px 0px 20px;
    transition: opacity 0.2s ease-in-out;
}

.toggle {
    position: absolute;
    top: 20px;
    right: 11px;
    font-size: 1.8rem;
    border: none;
    background-color: transparent;
    color: var(--buttons-color);
}

.sidebar_list {
    list-style-type: none;
    padding-left: 1rem;
    transition: padding 0.4s cubic-bezier(.83,.18,.34,.83);
}

.sidebar_list li {
    margin: 20px 10px;
    font-family: 'Poppins';
    font-size: 1.5rem;
}

.sidebar_list svg {
    margin-right: 10px;
}

.nav_link {
    color: var(--text-color);
    font-weight: var(--text-font-weight);
    white-space: nowrap;
}

.navbar_title span, .bottom_section span {transition: opacity 0.2s ease-in-out}
.nav_link span {transition: color 0.4s, opacity 0.2s ease-in-out}
   
.nav_link:hover, .logout_button:hover {
    color: var(--text-highlight-color);
}

.bottom_section {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
    border-top: var(--buttons-color) solid 1px;
    color: var(--text-color);
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: var(--text-font-weight);
    white-space: nowrap;
}

.bottom_section svg {
    transform: rotate(180deg);
    margin-right: 10px;
}

.logout_button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-weight: var(--text-font-weight);
    padding-left: 1.5rem;
    transition: color 0.4s, padding 0.4s cubic-bezier(.83,.18,.34,.83);
}