.inView > * {   
    transition-property: opacity, transform;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.17, 0.55, 0.55, 1);
    transition-delay: 0.2s; 

    opacity: 1;
}

.hidden > * {
    transform: translateY(30px);
    opacity: 0;
}