.gallery_heading {
    font-family: 'Poppins';
    padding-top: 0.5rem;
    margin-bottom: 1%;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); 
    grid-gap: 40px;
    margin: 0 auto;
    max-width: 1300px;
}

.board_container {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1300px;
}

.board_text {
    display: flex;
    flex-direction: row;
}

.board_img_container {
    width: 100%;
    height: 25vw;
    min-height: 220px;
    margin: 1% auto 1%;
    border-radius: 4px;
    overflow: hidden;
    filter: drop-shadow(rgba(0, 0, 0, 0.08) 6px 6px 10px);
}

/* class for person div container */
.person_img_container {
    width: 100%;
    max-width: 380px;
    aspect-ratio: 1/1;
    margin: 3% auto 3%;
    overflow: hidden;
    filter: drop-shadow(rgba(0, 0, 0, 0.08) 6px 6px 10px);
    border-radius: 4px;
}

.person_img_container a, .board_img_container a {
    width: 100%; 
    height: 100%;
}

/* class for person img. you will probably want to adjust the width depending on what pics historic provides that year */
.person_img_container img, .board_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 0.5s;
}

.board_img_container img {
    object-position: center 10%;
}

/* zoom on hover animation for person img */
.person_img_container img:hover, .board_img_container img:hover {
    transform: scale(1.1);
}

/* force text to wrap */
/* you will probably want to adjust the width depending on what pics historic provides that year */
.person_text_container{
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

.person_name{
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: black;
    margin-top: 2%;
}

.person_major{
    font-size: 1.5em;
    color: black;
    margin-top: 5%;
}

.person_email{
    font-size: 1.3em;
    color: black;
    margin-top: 5%;
}

.person_title{
    font-family: 'Poppins';
    font-size: 1.25rem;
    font-weight: 300;
    color: black;
}

@media screen and (max-width : 900px) {
    .board_container {
        margin: 0 auto;
        padding: 0 25px;
        max-width: 1300px;
    }

    .person_text_container{
        width: 100%;
        word-wrap: break-word;
        text-align: center;
    }

    .person_img_container{
        width: 80vw;
        max-width: 500px;
        max-height: 500px;
    }

    .grid_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
    }
}

@media screen and (max-width: 700px) {
    .board_text {
        flex-direction: column;
    }
}