.footer{
    background-color: var(--off-white);
}

.footer_section_one_parent{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_social_media_parent{
    flex: 1;
}

.footer_email_parent{
    flex: 2;
}

.footer_section{ 
    padding-top: 1%;
    padding-bottom: 1%;
    border: 0em;
    border-bottom: .1em;
    border-color: lightgray;
    border-style: solid;
}

.footer_social_media_footer_header{
    font-size: 1.5em;
}

.footer_bottom_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_paragraph{
    text-align: center;
    line-height: 2em;
    font-size: .9em;
    margin-top: 1%;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.footer_disclaimer{
    width: 80%;
    text-align: center;
    padding-top: 20px;
    font-size: 1em;
}

.footer_anchor{
    text-decoration: underline;
    color: inherit;
}

@media screen and (max-width : 1000px) /* Phone Rules */
{
    .footer_section_one_parent{
        display: flex;
        padding-top: 3%;
        padding-bottom: 3%;
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        align-items: normal;
    }
    .footer_social_media_parent {
        padding-bottom: 2%;
    }
    .footer_social_media_footer_header{
        font-size: 1em;
    }
    .footer_paragraph {
        width: 90%;
    }
    .footer_disclaimer{
        width: 90%;
    }
}