@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,200;0,300;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&dispay=block');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root{
    --background-color: #f5f5f5;
    --off-white: #e8e5e0;
    --offer-white: #dad5cd;
    scroll-behavior: auto;
}

html {
    font-size: 100%;
}

body {
    overflow-x: hidden;

    font-family: 'Open Sans', sans-serif;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background-color);
}

p {
    margin-bottom: 0; /* Have to do this for now because of bootstrap, eventually will get rid of when bootstrap removed entirely */
}

img {
    height: auto;
    user-select: none;
}