.testimonies_parent{
    background-color: #eaab00;
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 820px;
}

.testimonies_margins{
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.testimonies_h1{
    margin-bottom: 3%;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 3rem;
    color: var(--off-white);
}

.testimonies_h2{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
    color: var(--off-white);
}

.testimonies_year{
    font-family: 'Poppins';
    padding-top: 1%;
    font-size: 1.4rem;
    text-align: left;
    color: var(--off-white);
}

.testimonies_p{
    margin-bottom: 7%;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
    color: var(--off-white);
}

@media screen and (max-width : 1000px) /* Phone Rules */
{
    /* decrease the size of stuff, throw the links into a flexbox to limit width and auto-c */
    .testimonies_parent{
        height: 100vh;
    }

    .testimonies_p{
        font-size: 1rem;
        padding-bottom: 25%;
    }

    .testimonies_h1 {
        font-size: 2.5rem;
    }
}