.committee_bio {
    display: flex;
    width: 100vw;
    min-height: 45vw;
    padding: 2% 9% 2% 2%;
}

.committee_img_column {
    flex: 1;
    display: flex;
    align-items: top;
    justify-content: right;
    margin-top: 5%;
}

.committee_img_container {
    position: relative;
    object-fit: cover;
    width: 85%;
    max-width: 550px;
}

.committee_img {
    object-fit: cover;
    width: 100%;
}

.committee_img_container::after {
    position: absolute;
    content: "";
    z-index: -1;
    background-image: url('/images/_common/dotted.jpg');
    top: -50px;
    left: -50px;
    width: 200px;
    height: 400px;
}

.committee_text_container {
    flex: 0 0 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}

.commitee_text_section {
    font-size: 1.1rem;
}

.name {
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 500;
}

@media screen and (max-width : 1000px) /* Phone Rules */
{
    .committee_bio {
        flex-direction: column;
        align-items: center;
        padding: 10% 0;
    }

    .committee_img_column {
        justify-content: center;
    }

    .committee_img_container {
        width: 90%;
    }

    .bio_heading{
        font-size: 8vh;
    }

    .committee_text_container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3% 3% 3% 3%;
    }

    .bio_img{
        padding-right: unset;
        display: flex;
        overflow: hidden;
        object-fit:scale-down;
        min-width: 35vh;
        max-width: 40vh;
        margin: 0 auto;
    }
}
