:root {
    --archive-color: rgb(245, 245, 245);
    --button-tab-size: 40px;
}

.archive {
    width:100%;
    background-color: var(--archive-color);
    position: relative;
}

.archive_header {
    padding-bottom: 1rem;
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.archive_accordian {
    overflow: hidden;
}

.archive_container {
    padding: 20px;
    height: 650px;
    overflow-y: auto;
}

.archive_button_toggle {
    font-family: 'Poppins';
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: var(--button-tab-size);
    background-color: var(--archive-color);
    position: absolute;
    top: calc(-1 * var(--button-tab-size));
    right: 10%;
}

.archive_button_toggle:hover {
    cursor: pointer;
}

.archive_grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    overflow: hidden;
}

.archived_bnc_container {
    flex-grow: 0;
    flex-basis: 33.33%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.archived_bnc_img_container {
    width: 85%;
    height: 150px;
    overflow: hidden;

    filter: drop-shadow(rgba(0, 0, 0, 0.086) 6px 6px 10px);
    border-radius: 4px;
}

.archived_bnc_img_container img {
    filter: brightness(90%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s;
}

.archived_bnc_img_container img:hover {
    transform: scale(1.1);
}

.archived_bnc_title {
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width : 1000px) /* Phone Rules */
{
    .archive_grid {
        justify-content: center;
    }

    .archived_bnc_container {
        flex-basis: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}